// -----------------------------------------------------------------------------
// This file contains everything related to typography.
// -----------------------------------------------------------------------------

$line-height: 1.4;

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/subset-HelveticaNeueLTStd-Lt.eot");
  src: url("/assets/fonts/subset-HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-Lt.woff2") format("woff2"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-Lt.woff") format("woff"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/subset-HelveticaNeueLTStd-It.eot");
  src: url("/assets/fonts/subset-HelveticaNeueLTStd-It.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-It.woff2") format("woff2"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-It.woff") format("woff"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/subset-HelveticaNeueLTStd-Bd.eot");
  src: url("/assets/fonts/subset-HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-Bd.woff2") format("woff2"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-Bd.woff") format("woff"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/subset-HelveticaNeueLTStd-LtIt.eot");
  src: url("/assets/fonts/subset-HelveticaNeueLTStd-LtIt.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-LtIt.woff2") format("woff2"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-LtIt.woff") format("woff"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-LtIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/subset-HelveticaNeueLTStd-Roman.eot");
  src: url("/assets/fonts/subset-HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-Roman.woff2") format("woff2"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-Roman.woff") format("woff"),
    url("/assets/fonts/subset-HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$heading-font: "Helvetica Neue", Helvetica, arial, sans-serif;
$body-font: "Helvetica Neue", Helvetica, arial, sans-serif;

html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: 100%;
}

@mixin heading-font {
  font-family: $heading-font;
}
@mixin body-font {
  font-family: $body-font;
}

body {
  line-height: $line-height;
  color: $body-color;
  @include body-font;
}

/* 
 * Modular scale
 * http://www.modularscale.com/?1.2&em&1.3&web&text
*/

$type-scale: (
  hero: 6rem,
  sub-hero: 4.456rem,
  h1: 3.427em,
  h2: 2.636rem,
  h3: 2.028rem,
  h4: 1.56rem,
  p: 1.2rem,
  small: 1.05rem
);

/* 
 * Modular scale
 * http://www.modularscale.com/?1.1&em&1.3&web&text
*/

$type-scale-tablet: (
  hero: 5.309rem,
  sub-hero: 4.084rem,
  h1: 3.142rem,
  h2: 2.417rem,
  h3: 1.859em,
  h4: 1.43rem,
  p: 1.1rem,
  small: 1rem
);

/* 
 * Modular scale
 * http://www.modularscale.com/?1.05&em&1.2&web&text
*/

$type-scale-mobile: (
  hero: 3.135rem,
  sub-hero: 2.613rem,
  h1: 2.177rem,
  h2: 1.814rem,
  h3: 1.512rem,
  h4: 1.26rem,
  p: 1.05rem,
  small: 0.94rem
);

$breakpoint-tablet: 75em;
$breakpoint-mobile: 45em;

@mixin size($level) {
  font-size: map-get($type-scale, $level);
  @media (max-width: $breakpoint-tablet) {
    font-size: map-get($type-scale-tablet, $level);
  }
  @media (max-width: $breakpoint-mobile) {
    font-size: map-get($type-scale-mobile, $level);
  }
}

$whitespace: $line-height * map-get($type-scale, p);

@mixin margin-bottom($level) {
  margin-bottom: $line-height * map-get($type-scale, p) * $level;
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: $line-height * map-get($type-scale-tablet, p) * $level;
  }
  @media (max-width: $breakpoint-mobile) {
    margin-bottom: $line-height * map-get($type-scale-mobile, p) * $level;
  }
}

@mixin margin-top($level) {
  margin-top: $line-height * map-get($type-scale, p) * $level;
  @media (max-width: $breakpoint-tablet) {
    margin-top: $line-height * map-get($type-scale-tablet, p) * $level;
  }
  @media (max-width: $breakpoint-mobile) {
    margin-top: $line-height * map-get($type-scale-mobile, p) * $level;
  }
}

@mixin padding-bottom($level) {
  padding-bottom: $line-height * map-get($type-scale, p) * $level;
  @media (max-width: $breakpoint-tablet) {
    padding-bottom: $line-height * map-get($type-scale-tablet, p) * $level;
  }
  @media (max-width: $breakpoint-mobile) {
    padding-bottom: $line-height * map-get($type-scale-mobile, p) * $level;
  }
}

@mixin padding-top($level) {
  padding-top: $line-height * map-get($type-scale, p) * $level;
  @media (max-width: $breakpoint-tablet) {
    padding-top: $line-height * map-get($type-scale-tablet, p) * $level;
  }
  @media (max-width: $breakpoint-mobile) {
    padding-top: $line-height * map-get($type-scale-mobile, p) * $level;
  }
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
small {
  @include margin-bottom(1);
}

ol,
ul {
  padding-left: 1.4rem;
}

blockquote {
  @include margin-bottom(1);
  @include size(p);
  padding: 1rem 0 1rem 1.6rem;
  border-left: 0.5rem solid color($theme-color);
  margin-top: $whitespace;
}

cite {
  &:before {
    content: "\2014 ";
  }
  color: color($grey, 400);
  display: block;
}

@mixin container($width: 60rem, $margin: 1, $padding: 0) {
  margin: auto;
  @include margin-top($margin);
  @include margin-bottom($margin);
  @include padding-top($padding);
  @include padding-bottom($padding);
  max-width: $width;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: color($theme-color);
  /* Additional Styling in modules/_smart-underline.scss */
}
